# Сервис
PORT=3000

# База данных (compose задаёт значения по умолчанию)
DB_HOST=db
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres

# Эндпоинт WB (при необходимости можно переопределить)
WB_BOX_TARIFFS_ENDPOINT=https://common-api.wildberries.ru/api/v1/tariffs/box

# Авторизация WB по токену
# Имя заголовка и схема авторизации настраиваются; по умолчанию Authorization: Bearer <token>
WB_API_TOKEN=
WB_AUTH_HEADER=Authorization
WB_AUTH_SCHEME=Bearer

# Google Sheets
# ID таблиц через запятую
G_SHEETS_IDS=
# Имя листа
G_SHEETS_TAB=stocks_coefs

# Учетные данные сервисного аккаунта Google
GOOGLE_SA_EMAIL=
GOOGLE_SA_PRIVATE_KEY=


